<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet"
	href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="MacDetailController">
		<div class="page-header">
			<h1>Trigital Api</h1>
		</div>
		<div class="alert alert-info" role="alert"
			ng-hide="items &amp;&amp; items.length > 0">There are no items
			yet.</div>

		<div>

			<div class="page-header">
				<h3>Mac Details</h3>
			</div>

			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="content">Mac
						Address :</label>
					<div class="col-sm-10">
						<input ng-model="macDetail.macAddress" id="macAddress"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="content">Ip
						Address :</label>
					<div class="col-sm-10">
						<input ng-model="macDetail.ipAddress" id="ipAddress"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<button type="submit" class="btn btn-primary"
							ng-click="getMacDetails()">
							<span class="glyphicon glyphicon-ok"></span> Get MacDetails
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript"
		src="./bower_components/angular/angular.min.js"></script>
	<script type="text/javascript"
		src="./bower_components/angular-resource/angular-resource.js"></script>
	<!-- script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script-->
	<script type="text/javascript" src="./app/app.js"></script>
	<script type="text/javascript" src="./app/controllers.js"></script>
	<script type="text/javascript" src="./app/services.js"></script>
</body>
</html>